
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Variables*/
:root{

    --primary-color: #000000;
    --secondary-color: #F6F6F6;
    --thirt-color: #22D4FD;
    --colot-hover: #272727;

    --font-montserrat: "Montserrat", sans-serif;
    --font-Krona: "Krona One", sans-serif;

}


* {
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}


.header_menu{
    display: flex;
    gap: 80px;

}

.header_menu_link{
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--thirt-color);
    text-decoration: none;
}


.presentation{
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentation_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation_content_title{
    font-size: 2.25rem;
    font-family: var(--font-Krona);
    /*font-weight: 400;
    font-style: normal;*/
}

.title_destaque{
    color: var(--thirt-color);
}

.presentation_content_text{
    font-family: var(--font-montserrat);
    font-size:1.5rem;
}

.presentation_link{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentation_link_subtitle{
    font-family: var(--font-Krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentation_link_a{
    width: 50%;
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 8px;
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary-color);
    border: 2px solid var(--thirt-color);
    display: flex;
    justify-content: center;
    gap: 10px;

}

.presentation_link_a:hover{

    background-color: var(--colot-hover);
}

.presentation_image{
    width: 50%;
}
.footer{
    background-color: var(--thirt-color);
    padding: 1.5rem;
    color: var(--primary-color);
    text-align: center;
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    font-weight: 400;

}


@media (max-width: 1200px){

    .header{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
    }
    .presentation{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation_content{
        width: auto;
    }
}
